* {
    font-family: 'Marcellus', serif;
}

.container-fluid {
    width: 100vw;
    height: 100vw;
    background-color: #20B2AA;
}
.community-organizer-registration {
    margin-left: 400px;
}

.community-space-registration {
    margin-left: 400px;
}

.navbar {
    margin-bottom: 0;
}

h1 {
    font-family: 'Architects Daughter', cursive;
}

.form-group {
    width: 400px;
}